body {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    text-decoration: none;
}

header > .container {
    position: relative;
    background-image: url(..img/Super_Hero_Squad_Show.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header > .container > .layer {
    position: absolute;
    background: #FFF;
    opacity: 0.8;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 0;
}

.container h1, .container h6, .container hr, .container h4 {
    position: relative;
    z-index: 1;
}

.card {
    width: 32%;
}

.progress {
    height: 5px;
}

@media only screen and (max-width: 900px) {
    .card {
        width: 47%;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}